body {
  background-color: aliceblue;
}

textarea {
  outline: none;
  width: 350px;
  background-color: beige;
}

.App {
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px;
}
.container--editor {
  border: 1px solid red;
  max-width: max-content;
  margin: 0 auto;
  padding: 20px;
}
.editor-header {
  border: 1px solid blue;
}

.container--previewer {
  max-width: max-content;
  border: 1px solid green;
  margin: 0 auto;
  padding: 20px;
}
.previewer-header {
  border: 1px solid blue;
  width: 350px;
}
.previewer-body {
  border: 1px solid grey;
  width: 350px;
}
