body {
  background-color: aliceblue;
}

textarea {
  outline: none;
}

.App {
  height: 100vh;
}
.container--editor {
  border: 1px solid red;
  max-width: max-content;
  margin: 0 auto;
  padding: 20px;
}
.editor-header {
  border: 1px solid blue;
}

.container--previewer {
  max-width: max-content;
  border: 1px solid green;
  margin: 0 auto;
  padding: 20px;
}
.previewer-header {
  border: 1px solid blue;
}
.previewer-body {
  border: 1px solid grey;
}
